<div class="mat-card">
    <div class="row">
    <h1>Hard & Soft Skills</h1><br>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 col-xs-4">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [imageSrc]="'../assets/logo-html5.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 col-xs-4">
        <circle-progress
        [percent]="75"
        [radius]="100"
        [imageSrc]="'../assets/logo-css.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="50"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 col-xs-4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [imageSrc]="'../assets/logo-js.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="50"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>    </div>
    </div>
</div>


